@model IEnumerable<WebShop.Models.ViewModel.OrderViewModel>

@{
    ViewData["Title"] = "Orders";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int counter = 1;
}

<h1>Orders</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Datum</th>
            <th scope="col">Ime</th>
            <th scope="col">Prezime</th>
            <th scope="col">Iznos bez PDVa</th>
            <th scope="col">Iznos s PDVom</th>
            <th scope="col">Detalji</th>
            <th scope="col">Storno</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var order in Model)
        {
            decimal totalPriceWithVat = order.ShoppingCart.GetTotalPriceWithVAT();
            decimal totalPrice = order.ShoppingCart.GetTotalPrice();

            <tr>
                <th scope="row">@counter</th>
                <td>@order.Created.ToShortDateString()</td>
                <td>@order.ShoppingCart.ApplicationUser.Firstname</td>
                <td>@order.ShoppingCart.ApplicationUser.Lastname</td>
                <td>@string.Format("{0:C}",totalPrice)</td>
                <td>@string.Format("{0:C}",totalPriceWithVat)</td>
                <td> @Html.ActionLink("Detalji", "Order", new {  id=order.Id  },new {@class= "btn btn-primary"})</td>
                <td> 

                    @switch (order.ShoppingCart.ShoppingCartStatus)
                    {
                        case ShoppingCartStatus.Succeeded:
                            @Html.ActionLink("Storno", "SuspendOrder", new {  id=order.Id  },new {@class= "btn btn-danger"})
                            break;
                        case ShoppingCartStatus.Suspended:
                            <span>Narudžba je suspendirana</span>
                            break;

                        case ShoppingCartStatus.Pending:
                            <span>Narudžba je u tijeku</span>
                            break;
                    }



                </td>
            </tr>
            counter++;
        }



    </tbody>
</table>